body {
  background: #1e1e1e;
  color: white;
  font-family: sans-serif;
}

svg {
  width: 100%;
  height: 90vh;
  background:
    linear-gradient(#2a2a2a 1px, transparent 1px),
    linear-gradient(90deg, #2a2a2a 1px, transparent 1px),
    #1f2326;
  background-size: 40px 40px;
}